.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.canvas {
  border: 2px solid black;
  border-bottom: 2px solid red;
  background: #ffffff !important;
}

@media screen and (max-width: 772px) {
  /* .wrapper {
    display: block;
  } */

  /* .canvas {
    width: 100vw;
    height: 100vh;
  } */
}
